*.log
*.swp
*.pyc
*.pyo
*.exe
*.exe~
*.dll
*.o
*.a
*.so
*.dylib
*.out
*.pid
*.gz
*~
.DS_Store
.cache
.golint-free
.git/
logs/
bin/
src/bin/
pkg/
src/pkg/
src/github.com/
src/golang.org
.idea/
target/
*.iml
.gradle
build/
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
